{% extends 'base.html' %}

{% block title %}CodeBook Project{% endblock %}

{% block content %}
    <h1>About CodeBook</h1>
    <img src="{{ url_for('static', filename='images/project.jpg') }}" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam iusto illum, delectus consequuntur distinctio quam adipisci animi aliquid? Molestias distinctio ratione quis minus quia eum autem beatae veniam accusamus, culpa vero quasi eligendi quidem aliquid vel nostrum deleniti labore doloribus dolorem obcaecati officia velit dicta provident accusantium? Sunt, magni suscipit!</p>
{% endblock %}