{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <h1>Let's Talk!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, illum atque! Illum architecto, Obcaecati, illum atque! Illum architecto, odit possimus quibusdam reiciendis accusantium sed corporis?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, deleniti.</p>
    <p>Write to me at <strong>priyamadurai2022@gmail.com</strong></p>
{% endblock %}